body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:648px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18207 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:648px;
}
#u18208 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  word-wrap:break-word;
}
#u18209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 3px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 3px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 3px 5px rgba(204, 204, 204, 0.349019607843137);
}
#u18209 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
}
#u18210 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u18211 {
  position:absolute;
  left:101px;
  top:12px;
  width:174px;
  height:28px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u18212 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u18213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u18213 {
  position:absolute;
  left:13px;
  top:14px;
  width:24px;
  height:24px;
}
#u18214 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18215 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正舒体 Regular', '方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u18216 {
  position:absolute;
  left:46px;
  top:210px;
  width:284px;
  height:52px;
  font-family:'方正舒体 Regular', '方正舒体';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-align:center;
}
#u18217 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u18218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u18218 {
  position:absolute;
  left:38px;
  top:256px;
  width:300px;
  height:52px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u18219 {
  position:absolute;
  left:0px;
  top:17px;
  width:300px;
  word-wrap:break-word;
}
